* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.smth-pink {
  color: #f16d7f;
}

.right-wrapper-margin {
  margin-right: 30px;
}

@media (max-width: 480px) {
  .right-wrapper-margin {
    margin: 0;
  }
}

.main-header {
  background-color: #222222;
  height: 75px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
}

.main-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__wrapper_container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .main-header__wrapper_container {
    max-width: 768px;
    margin: 0 4%;
  }
}

@media (max-width: 480px) {
  .main-header__wrapper_container {
    max-width: 480px;
    margin: 0 3%;
  }
}

.main-header__left-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__right-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo_margin-r {
  margin-right: 40px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__form {
  display: none;
  margin-right: 15px;
}

.search__input {
  width: 150px;
  background-color: #ffffff;
  border-radius: 23px;
  border: none;
  padding: 7px 12px;
  font-size: 14px;
  font-weight: 400;
  color: #222224;
  outline: none;
}

.nav-menu {
  position: relative;
}

.nav-menu__summary {
  list-style-type: none;
  outline: none;
}

.drop-menu {
  z-index: 10;
  position: absolute;
  top: 47px;
  right: 0;
  width: 230px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  padding: 15px 15px 15px 35px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.drop-menu__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
}

.drop-menu__title_margin-t {
  margin-top: 20px;
}

.drop-menu__title_margin-b {
  margin-bottom: 25px;
}

.drop-menu__category {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  text-transform: uppercase;
}

.drop-menu__category_margin-t {
  margin-top: 20px;
}

.drop-menu__list {
  list-style: none;
  padding-left: 20px;
}

.drop-menu__item {
  margin-top: 10px;
}

.drop-menu__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  display: block;
}

.close-cross {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  position: absolute;
  right: 15px;
  top: 15px;
}

@media (max-width: 480px) {
  .account {
    display: none;
  }
}

.cart {
  position: relative;
}

@media (max-width: 480px) {
  .cart {
    display: none;
  }
}

.cart_margin-r {
  margin-right: 10px;
}

.cart::before {
  content: "5";
  width: 17px;
  height: 17px;
  position: absolute;
  display: block;
  color: #ffffff;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  background-color: #f16d7f;
  border: 1px solid #f16d7f;
  border-radius: 50px;
  right: -8px;
  top: -8px;
}

.index-page__promo {
  margin-bottom: 65px;
}

@media (max-width: 768px) {
  .index-page__promo {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .index-page__promo {
    margin-bottom: 65px;
  }
}

.index-page__hot-offer {
  margin-bottom: 95px;
}

@media (max-width: 768px) {
  .index-page__hot-offer {
    margin-bottom: 155px;
  }
}

@media (max-width: 480px) {
  .index-page__hot-offer {
    margin-bottom: 65px;
  }
}

.index-page__featured-items {
  margin-bottom: 95px;
}

@media (max-width: 768px) {
  .index-page__featured-items {
    margin-bottom: 65px;
  }
}

@media (max-width: 480px) {
  .index-page__featured-items {
    margin-bottom: 95px;
  }
}

.promo {
  background-color: #f1e4e6;
}

.promo__wrapper {
  height: 764px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .promo__wrapper {
    height: 368px;
  }
}

@media (max-width: 480px) {
  .promo__wrapper {
    height: 363px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.promo__wrapper_container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .promo__wrapper_container {
    max-width: 768px;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .promo__wrapper_container {
    max-width: 480px;
    margin: 0;
  }
}

.promo__img {
  display: block;
  height: 100%;
}

@media (max-width: 768px) {
  .promo__img {
    margin-left: 14%;
  }
}

@media (max-width: 480px) {
  .promo__img {
    display: none;
  }
}

.promo__tagline {
  margin-top: -9%;
  position: relative;
  margin-right: 9%;
  margin-left: 27px;
}

@media (max-width: 768px) {
  .promo__tagline {
    margin-right: 4%;
  }
}

@media (max-width: 480px) {
  .promo__tagline {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
}

.promo__tagline::before {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 100%;
  background-color: #f16d7f;
  left: -27px;
  top: 3px;
}

@media (max-width: 480px) {
  .promo__tagline::before {
    height: 61px;
    top: 3px;
  }
}

.promo__title {
  font-weight: 900;
  font-size: 48px;
  color: #222222;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .promo__title {
    font-size: 44px;
  }
}

@media (max-width: 480px) {
  .promo__title {
    font-size: 38px;
  }
}

.promo__text {
  font-weight: 700;
  font-size: 32px;
  color: #222222;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .promo__text {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .promo__text {
    font-size: 20px;
  }
}

.hot-offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hot-offer_container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .hot-offer_container {
    max-width: 768px;
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media (max-width: 480px) {
  .hot-offer_container {
    max-width: 480px;
    margin-left: 3%;
    margin-right: 3%;
  }
}

.hot-offer__link {
  width: 32%;
  position: relative;
}

.hot-offer__link_margin-b {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .hot-offer__link_margin-b {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .hot-offer__link_margin-b {
    margin-bottom: 30px;
    width: 100%;
  }
}

.hot-offer__big-link {
  width: 100%;
  position: relative;
}

@media (max-width: 480px) {
  .hot-offer__big-link {
    overflow: hidden;
  }
}

.hot-offer__img {
  display: block;
  width: 100%;
  height: auto;
}

.hot-offer__big-img {
  width: 100%;
  height: auto;
}

@media (max-width: 480px) {
  .hot-offer__big-img {
    width: 945px;
    height: auto;
    margin-left: -55%;
  }
}

.hot-offer__item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 22, 22, 0.7);
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hot-offer__small-text {
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-transform: uppercase;
}

.hot-offer__big-text {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  text-transform: uppercase;
}

.featured-items__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  text-align: center;
}

.featured-items__phrase {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  color: #9f9f9f;
  text-align: center;
}

.featured-items__phrase_margin-b {
  margin-bottom: 45px;
}

@media (max-width: 768px) {
  .featured-items__phrase_margin-b {
    margin-bottom: 70px;
  }
}

@media (max-width: 480px) {
  .featured-items__phrase_margin-b {
    margin-bottom: 65px;
  }
}

.featured-items__button {
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  font-size: 16px;
  color: #f26376;
  width: 211px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ff6a6a;
  margin: 0 auto;
}

.featured-items__button_margin-t {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .featured-items__button_margin-t {
    margin-top: 15px;
  }
}

@media (max-width: 480px) {
  .featured-items__button_margin-t {
    margin-top: 25px;
  }
}

.features {
  background-color: #222224;
}

.features__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 768px) {
  .features__wrapper {
    padding-top: 50px;
    padding-bottom: 65px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 480px) {
  .features__wrapper {
    padding-top: 50px;
    padding-bottom: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.features__wrapper_container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .features__wrapper_container {
    max-width: 768px;
    margin: 0;
  }
}

@media (max-width: 480px) {
  .features__wrapper_container {
    max-width: 480px;
    margin: 0;
  }
}

.features__item {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 40px;
  margin-right: 40px;
}

@media (max-width: 768px) {
  .features__item {
    margin-left: 30%;
    margin-right: 30%;
  }
}

@media (max-width: 480px) {
  .features__item {
    margin-left: 7%;
    margin-right: 7%;
  }
}

.features__item_margin-b {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .features__item_margin-b {
    margin-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .features__item_margin-b {
    margin-bottom: 45px;
  }
}

.features__img_delivery {
  margin-bottom: 23px;
}

.features__img_sales {
  margin-bottom: 15px;
}

.features__img_quality {
  margin-bottom: 20px;
}

.features__title {
  font-weight: 400;
  font-size: 20px;
  color: #fbfbfb;
}

.features__title_margin-b {
  margin-bottom: 15px;
}

.features__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #fbfbfb;
}

.main-footer {
  background-image: url(img/subscribe_background_overlay.png), url(img/subscribe_background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 450px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 768px) {
  .feedback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 695px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 480px) {
  .feedback {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 550px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.feedback_container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .feedback_container {
    max-width: 768px;
  }
}

@media (max-width: 480px) {
  .feedback_container {
    max-width: 480px;
  }
}

.quote {
  width: 360px;
  text-align: center;
}

@media (max-width: 480px) {
  .quote {
    width: 70%;
  }
}

.quote_margin-t {
  margin-top: 0;
}

@media (max-width: 768px) {
  .quote_margin-t {
    margin-top: 55px;
  }
}

@media (max-width: 480px) {
  .quote_margin-t {
    margin-top: 55px;
  }
}

.quote__img {
  width: 96px;
  height: 96px;
}

@media (max-width: 480px) {
  .quote__img {
    width: 91px;
    height: 91px;
  }
}

.quote__img_margin-b {
  margin-bottom: 30px;
}

.quote__text {
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}

@media (max-width: 480px) {
  .quote__text {
    font-size: 19px;
    line-height: 23px;
  }
}

.subscription {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 480px) {
  .subscription {
    width: 70%;
  }
}

.subscription_margin-t {
  margin-top: 0;
}

@media (max-width: 768px) {
  .subscription_margin-t {
    margin-top: 50px;
  }
}

@media (max-width: 480px) {
  .subscription_margin-t {
    margin-top: 60px;
  }
}

.subscription__title {
  font-weight: 700;
  font-size: 24px;
  color: #222224;
  text-transform: uppercase;
}

.subscription__text {
  font-size: 18px;
  color: #222224;
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .subscription__text {
    font-size: 14px;
  }
}

.subscription__text_margin-t {
  margin-top: 10px;
}

.subscription__text_margin-b {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .subscription__text_margin-b {
    margin-bottom: 25px;
  }
}

@media (max-width: 480px) {
  .subscription__text_margin-b {
    margin-bottom: 20px;
  }
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscription__input {
  width: 255px;
  background-color: #e1e1e1;
  border-radius: 23px 0 0 23px;
  border: none;
  padding: 17px 7px 17px 25px;
  font-size: 14px;
  font-weight: 400;
  color: #222224;
  outline: none;
}

@media (max-width: 460px) {
  .subscription__input {
    width: 175px;
  }
}

.subscription__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  background-color: #f16d7f;
  border-radius: 0px 23px 23px 0px;
  padding: 17px 20px;
  cursor: pointer;
}

.rights-and-socials {
  background-color: #222224;
}

.rights-and-socials__wrapper {
  max-width: 1140px;
  margin: 0 auto;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .rights-and-socials__wrapper {
    max-width: 768px;
    margin: 0 4%;
  }
}

@media (max-width: 480px) {
  .rights-and-socials__wrapper {
    max-width: 480px;
    margin: 0 12.5%;
    height: 145px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.rights {
  font-size: 16px;
  color: #fbfbfb;
  margin-left: 7px;
}

@media (max-width: 480px) {
  .rights_margin-b {
    margin-bottom: 10px;
  }
}

.socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .socials_margin-t {
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .socials_margin-b {
    margin-bottom: 40px;
  }
}

.socials__item {
  width: 32px;
  height: 32px;
  background-color: #ffffff;
}

.socials__item_margin-r {
  margin-right: 7px;
}

.socials__link {
  display: block;
  text-align: center;
  color: #000000;
  line-height: 32px;
}

.catalog-page__breadcrumbs-nav {
  margin-bottom: 55px;
}

@media (max-width: 768px) {
  .catalog-page__breadcrumbs-nav {
    margin-bottom: 25px;
  }
}

@media (max-width: 480px) {
  .catalog-page__breadcrumbs-nav {
    margin-bottom: 25px;
  }
}

.breadcrumbs-nav {
  background-color: #f8f3f4;
}

.breadcrumbs-nav__wrapper {
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 480px) {
  .breadcrumbs-nav__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.breadcrumbs-nav__wrapper_container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .breadcrumbs-nav__wrapper_container {
    max-width: 768px;
    margin: 0 2%;
  }
}

@media (max-width: 480px) {
  .breadcrumbs-nav__wrapper_container {
    max-width: 480px;
    margin: 0 80px;
  }
}

.breadcrumbs-nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs-nav__current {
  font-size: 24px;
  color: #f16d7f;
  text-transform: uppercase;
  font-weight: 400;
  white-space: nowrap;
}

@media (max-width: 480px) {
  .breadcrumbs-nav__current_w480-margin-b {
    margin-bottom: 30px;
  }
}

.breadcrumbs-nav__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
}

.breadcrumbs-nav__link_current {
  font-weight: 700;
  color: #f16d7f;
}

.breadcrumbs-nav__link[href]::after {
  content: "/";
  margin: 0 5px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .sorting {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.sorting_container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .sorting_container {
    max-width: 768px;
    margin: 0 2%;
  }
}

@media (max-width: 480px) {
  .sorting_container {
    max-width: 480px;
    margin: 0 3%;
  }
}

.sorting_margin-b {
  margin-bottom: 65px;
}

@media (max-width: 768px) {
  .sorting_margin-b {
    margin-bottom: 40px;
  }
}

@media (max-width: 480px) {
  .sorting_margin-b {
    margin-bottom: 40px;
  }
}

.filters_margin-r {
  margin-right: 30px;
}

@media (max-width: 480px) {
  .filters_margin-r {
    margin: 0;
  }
}

.filters__box {
  padding: 24px 16px 16px;
  position: absolute;
  background-color: #ffffff;
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

@media (max-width: 900px) {
  .filters__box {
    width: 30%;
  }
}

@media (max-width: 480px) {
  .filters__box {
    width: 40%;
  }
}

.filters__summary {
  list-style-type: none;
  outline: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  position: relative;
}

.filters__img {
  margin-left: 10px;
}

@media (max-width: 480px) {
  .filters__img {
    margin: 0;
    height: 25px;
    width: auto;
  }
}

@media (max-width: 480px) {
  .filters__media-hide {
    display: none;
  }
}

.category_margin-b {
  margin-bottom: 15px;
}

.category__summary {
  list-style-type: none;
  outline: none;
  font-size: 14px;
  line-height: 17px;
  color: #ef5b70;
  text-transform: uppercase;
  display: block;
  padding: 10px 0 10px 15px;
  background-color: #ffffff;
  border-bottom: 1px solid #ebebeb;
  position: relative;
}

.category__summary::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1px;
  display: block;
  width: 5px;
  height: 100%;
  background-color: #ef5b70;
}

.category__list {
  list-style: none;
  margin-top: 20px;
}

.category__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 29px;
  font-weight: 400;
  margin-left: 18px;
  color: #6f6e6e;
  display: block;
}

.sorting-type {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .sorting-type {
    margin: 0;
  }
}

.sorting-type__details {
  position: relative;
}

.sorting-type__summary {
  list-style-type: none;
  outline: none;
  font-size: 14px;
  color: #6f6e6e;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
}

@media (max-width: 480px) {
  .sorting-type__summary {
    font-size: 12px;
  }
}

.sorting-type__summary::after {
  content: "\e802";
  font-family: "fontello";
  margin-left: 10px;
}

.sorting-type__list {
  width: 100%;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  list-style: none;
  position: absolute;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 480px) {
  .sorting-type__list {
    width: 120%;
  }
}

.sorting-type__label {
  font-size: 14px;
  line-height: 16px;
  color: #6f6e6e;
  padding-left: 25px;
  position: relative;
}

.sorting-type__label_radio::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #ebebeb;
  border-radius: 50px;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

.sorting-type__label_radio::after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 90px;
  left: 3px;
  top: 50%;
  margin-top: -3px;
  background-color: #ef5b70;
  display: none;
}

.sorting-type__label_checkbox::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #ebebeb;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

.sorting-type__label_checkbox::after {
  font-family: "fontello";
  content: "\e804";
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 50%;
  margin-top: -10px;
  color: #ef5b70;
  display: none;
}

.sorting-type__checkbox {
  display: none;
}

.sorting-type__radio {
  display: none;
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product-list_container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .product-list_container {
    max-width: 768px;
    margin: 0 2%;
  }
}

@media (max-width: 480px) {
  .product-list_container {
    max-width: 480px;
    margin: 0 3%;
  }
}

.product-list_margin-b {
  margin-bottom: 20px;
}

.product-card {
  display: block;
  text-decoration: none;
  width: 32%;
}

@media (max-width: 768px) {
  .product-card {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .product-card {
    width: 100%;
  }
}

.product-card_margin-b {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .product-card_margin-b {
    margin-bottom: 16px;
  }
}

.product-card__img {
  width: 100%;
  height: auto;
  display: block;
}

.product-card__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f8f8f8;
  padding: 25px 22px 20px;
}

.product-card__title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}

.product-card__title_margin-b {
  margin-bottom: 10px;
}

.product-card__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.product-card__text_margin-b {
  margin-bottom: 15px;
}

.product-card__price {
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.pagination_container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .pagination_container {
    max-width: 768px;
    margin: 0 30px;
  }
}

@media (max-width: 480px) {
  .pagination_container {
    max-width: 480px;
    margin: 0 15px;
  }
}

.pagination__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  height: 45px;
  margin: 0 auto;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.pagination__link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #c4c4c4;
}

.pagination__link_current {
  color: #ef5b70;
}

.pagination__icon-angle-left, .pagination__icon-angle-right {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin-left: -10px;
  margin-right: -10px;
}

.pagination_margin-b {
  margin-bottom: 95px;
}

.product-page__product-info {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .product-page__product-info {
    margin-bottom: 125px;
  }
}

@media (max-width: 480px) {
  .product-page__product-info {
    margin-bottom: 65px;
  }
}

.product-page__product-list {
  margin-bottom: 95px;
}

@media (max-width: 480px) {
  .product-page__product-list {
    margin-bottom: 50px;
  }
}

.photo-slider {
  background-color: #f7f7f7;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  min-height: 750px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 768px) {
  .photo-slider {
    min-height: 625px;
  }
}

@media (max-width: 480px) {
  .photo-slider {
    min-height: 625px;
  }
}

.photo-slider__nav-button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -23px;
}

.photo-slider__nav-button_prev {
  left: 0;
}

.photo-slider__nav-button_next {
  right: 0;
}

.slide_container {
  max-width: 1140px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .slide_container {
    max-width: 768px;
  }
}

@media (max-width: 480px) {
  .slide_container {
    max-width: 480px;
  }
}

.slide__img {
  width: 597px;
  height: auto;
}

@media (max-width: 768px) {
  .slide__img {
    width: 465px;
  }
}

@media (max-width: 480px) {
  .slide__img {
    width: 375px;
  }
}

@media (max-width: 385px) {
  .slide__img {
    width: 275px;
  }
}

.product-info {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  padding-top: 65px;
  padding-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: -65px;
}

@media (max-width: 768px) {
  .product-info {
    top: 0;
  }
}

.product-info_container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .product-info_container {
    max-width: 768px;
  }
}

@media (max-width: 480px) {
  .product-info_container {
    max-width: 480px;
  }
}

.product-info__current-category {
  font-weight: 300;
  font-size: 14px;
  color: #f16d7f;
  text-transform: uppercase;
  position: relative;
}

.product-info__current-category::after {
  content: "";
  display: block;
  position: absolute;
  width: 40%;
  height: 3px;
  bottom: -15px;
  margin-left: 30%;
  background-color: #ef5b70;
}

.product-info__current-category_margin-b {
  margin-bottom: 25px;
}

.product-info__title {
  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  color: #4d4d4d;
}

.product-info__title_margin-b {
  margin-bottom: 45px;
}

@media (max-width: 480px) {
  .product-info__title_margin-b {
    margin-bottom: 30px;
  }
}

.product-info__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5e5e5e;
  margin-left: 26%;
  margin-right: 26%;
}

@media (max-width: 768px) {
  .product-info__text {
    margin-left: 14%;
    margin-right: 14%;
  }
}

@media (max-width: 480px) {
  .product-info__text {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.product-info__text_margin-b {
  margin-bottom: 30px;
}

.product-info__price {
  font-weight: 300;
  font-size: 24px;
  color: #ef5b70;
}

.product-info__price_margin-b {
  margin-bottom: 65px;
}

@media (max-width: 480px) {
  .product-info__price_margin-b {
    margin-bottom: 30px;
  }
}

.product-info__line {
  background-color: #eaeaea;
  height: 1px;
  width: 56%;
}

@media (max-width: 768px) {
  .product-info__line {
    width: 83%;
  }
}

@media (max-width: 480px) {
  .product-info__line {
    width: 36%;
  }
}

.product-info__line_margin-b {
  margin-bottom: 65px;
}

@media (max-width: 480px) {
  .product-info__line_margin-b {
    margin-bottom: 50px;
  }
}

.product-info__number-input {
  width: 87px;
  text-align: center;
  outline: none;
  border: none;
  background-color: #f7f7f7;
}

@media (max-width: 480px) {
  .product-info__number-input {
    width: 57px;
  }
}

.product-info__number-input::-webkit-outer-spin-button, .product-info__number-input::-webkit-inner-spin-button {
  margin: 0;
  opacity: 0.5;
}

.product-info__sorting-type {
  margin-bottom: 50px;
}

@media (max-width: 480px) {
  .product-info__sorting-type {
    margin-bottom: 65px;
  }
}

@media (max-width: 480px) {
  .product-info__summary {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .product-info__list {
    width: 90%;
  }
}

.product-info__color-black::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #ebebeb;
  left: 0;
  top: 50%;
  margin-top: -6px;
  background-color: black;
}

.product-info__color-grey::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #ebebeb;
  left: 0;
  top: 50%;
  margin-top: -6px;
  background-color: grey;
}

.product-info__color-white::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #ebebeb;
  left: 0;
  top: 50%;
  margin-top: -6px;
  background-color: white;
}

.product-info__color-pink::before {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid #ebebeb;
  left: 0;
  top: 50%;
  margin-top: -6px;
  background-color: #f16d7f;
}

.product-info__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  width: 211px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #f26376;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
}

.product-info__button-svg {
  fill: #f26376;
  margin-right: 20px;
}

.reg-page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 95px;
}

@media (max-width: 768px) {
  .reg-page__wrapper {
    padding-top: 40px;
  }
}

@media (max-width: 480px) {
  .reg-page__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.reg-page__wrapper_container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .reg-page__wrapper_container {
    max-width: 768px;
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media (max-width: 480px) {
  .reg-page__wrapper_container {
    max-width: 480px;
    margin-left: 2%;
    margin-right: 2%;
  }
}

.reg-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20px;
}

@media (max-width: 480px) {
  .reg-form {
    margin-right: 0;
  }
}

.reg-form__fieldset {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
}

.reg-form__legend {
  font-weight: 300;
  font-size: 16px;
  color: #222222;
}

.reg-form__legend_margin-b {
  margin-bottom: 20px;
}

.reg-form__input {
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
  font-size: 13px;
  padding: 15px 17px;
  border: 1px solid #a4a4a4;
  border-radius: 3px;
  outline: none;
}

@media (max-width: 480px) {
  .reg-form__input {
    width: 100%;
  }
}

.reg-form__input_margin-b {
  margin-bottom: 20px;
}

.reg-form__input_margin-b-big {
  margin-bottom: 35px;
}

.reg-form__input_margin-b-small {
  margin-bottom: 15px;
}

.reg-form__radio-wrapper_margin-b {
  margin-bottom: 35px;
}

.reg-form__radio {
  display: none;
}

.reg-form__label {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  position: relative;
  padding-left: 30px;
}

.reg-form__label::after {
  content: "";
  width: 15px;
  height: 15px;
  border: 1px solid #a4a4a4;
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  margin-top: -8px;
  border-radius: 50px;
}

.reg-form__label::before {
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  display: none;
  left: 4px;
  top: 50%;
  margin-top: -4px;
  border-radius: 50px;
  background-color: #f16d7f;
}

.reg-form__hint {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
  max-width: 360px;
}

.reg-form__hint_margin-b {
  margin-bottom: 40px;
}

.reg-form__button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
  width: 165px;
  height: 48px;
  border: 1px solid #f16d7f;
  background-color: #f16d7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-transform: uppercase;
}

.reg-form__button_icon {
  margin-left: 15px;
}

.reg-info {
  max-width: 650px;
}

.reg-info__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .reg-info__title {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .reg-info__title {
    font-size: 16px;
  }
}

.reg-info__title_margin-b {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .reg-info__title_margin-b {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .reg-info__title_margin-b {
    margin-bottom: 30px;
  }
}

.reg-info__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 768px) {
  .reg-info__text {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .reg-info__text {
    font-size: 16px;
  }
}

.reg-info__text_margin-b {
  margin-bottom: 20px;
}

.reg-info__list {
  list-style: none;
}

.reg-info__li {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 768px) {
  .reg-info__li {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .reg-info__li {
    font-size: 16px;
  }
}

.reg-info__li_margin-b {
  margin-bottom: 15px;
}

.reg-info__li::before {
  font-family: "fontello";
  content: "\e803";
  margin-right: 25px;
}
/*# sourceMappingURL=style.css.map */